@page "/services/create"
@using DesarrolloTec.Shared.Entities

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Participant Create</h3>

<ServiceForm @ref="serviceForm" Service="Service" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Service Service = new();
    private ServiceForm serviceForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/services", Service);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/services");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/services");
    }
}
