@page "/invoice/edit/{id:int}"
@using CurrieTechnologies.Razor.SweetAlert2
@using DesarrolloTec.Shared.Entities
@using DesarrolloTec.WEB.Repositories

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal




@if (Invoice is null)
{
    
    <p>Cargando ...</p>


}
else
{
    <InvoiceForm @ref="InvoiceForm" Invoice="Invoice" OnSubmit="Edit" ReturnAction="Return" />



}



@code {

    private Invoice Invoice;
    private InvoiceForm InvoiceForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Invoice>($"api/invoices/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("invoices");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Invoice = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("api/invoices", Invoice);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            InvoiceForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("/invoices");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/invoices");
    }
}
